# Génération automatique de la base de données à partir de sauvegardes CSV
### Margaux BRULIARD
### 18 mars 2021

L'ensemble des fichiers sont contenus dans le dossier `save_database`

In [6]:
import csv
import os
import sqlite3 as bdd

On commence par re-créer la base de données `database.db`

In [31]:
path_db = '../database_2.db'

# on vérifie si la base de données existe déjà
if os.path.exists(path_db):
    x = input("La BDD existe déjà. Etes vous sur de vouloir écraser les données ? [Y/n]")
    if (x == 'Y'):
        os.system('rm ../database_2.db')
    else:
        exit()
# ....

os.system("touch ../database_2.db") # creation du fichier
connexion = bdd.connect("../database_2.db") # connexion à la base de données
curseur = connexion.cursor()

La BDD existe déjà. Etes vous sur de vouloir écraser les données ? [Y/n]Y

On lit le fichier `creation.sql` pour lancer les requêtes dans la base de données

In [32]:
queries = None
with open('save_database/creation.sql', 'r') as fichier:
    queries = fichier.read()
# ...
curseur.executescript(queries)
connexion.commit()

Maintenant que les tables sont construites, nous allons pouvoir les remplir

In [34]:
table_names = ['categories', 'individus', 'films', 'distribution', 'notes', 'forum', 'users']
for table in table_names:
    with open('save_database/save_' + table + '.csv', newline='') as csv_file:
        csv_reader = csv.reader(csv_file, delimiter=';', quoting=csv.QUOTE_NONNUMERIC)
        row_i = 0
        for line in csv_reader:
            if row_i != 0:
                values = line
                for i in range(0, len(values)):
                    if (type(values[i])) is not str:
                        values[i] = int(values[i])

                # ...
                query = "INSERT INTO {} VALUES {}".format(table, tuple(values))
                print(query)
                curseur.execute(query)

            # ...
            row_i += 1
        # ...
        
        connexion.commit()    
    # ...
# ...

INSERT INTO categories VALUES (1, 'Action')

IntegrityError: UNIQUE constraint failed: categories.id_categorie

Fermeture de base de données

In [35]:
connexion.close()

In [ ]:
csv_reader = csv.reader(csv_file, delimiter=';')
        datas = list(csv_reader)
        
        # on extrait la 1ere ligne qui correspond aux noms des colonnes
        columns = datas[0]
        datas = datas[1:]
        
        # on traite les donnees pour que chaque vide soit considéré comme un 'NULL' dans la bdd
        for line in datas:
            for i in range(0, len(line)):
                if line[i] == '':
                    line[i] = 'NULL'
                # ...
            # ...
        # ...
        
        # maintenant on peut faire des queries
        for line in datas:
            print(line)
            query = "INSERT INTO {} {} VALUES {}".format(table, tuple(columns), tuple(line))
            curseur.execute(query)
        # ...

In [ ]:
with open("save_database/save_categories.csv", newline='') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=';', quoting=csv.QUOTE_NONNUMERIC)
    row_i = 0
    for line in csv_reader:
        if row_i != 0:
            values = line
            for i in range(0, len(values)):
                if (type(values[i])) is not str:
                    values[i] = int(values[i])
                
            # ...
            query = "INSERT INTO {} VALUES {}".format('categories', tuple(values))
            print(query)
            
        # ...
        row_i += 1
    # ...
# ...